    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" id="navbarlogo" href="/">Recipeasy</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navtext" href="#about-link">ABOUT</a>
                </li>
                <li>
                    <a class="navtext" href="#howitworks-link">HOW IT WORKS</a>
                </li>
                <li>
                    <a class="navtext" href="#logintext">SIGN IN</a>
                </li>
                <li>
                    <a class="navtext innersignuptext" data-toggle="modal" data-target="#signup-modal">SIGN UP</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="home-header">
        <img src="assets/images/main-imgII.jpg" class="mainimg">
        <div class="row header-info">
            <div class="col-sm-7">
                <div class="loginscreen-left">
                    <h1 id="recipes-text">RECIPES</h1>
                    <h3 id="recipes-subtext">Your One-Stop Recipe Library.</h3>
                    <h3 class="des-header">Save recipes from the web.</h3>
                    <h3 class="des-header des-header-two">Organize as you go.</h3>
                    <a href="#about-link" class="btn btn-info read-more" role="button">READ MORE</a>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="loginscreen-right">
                    <h3 id="logintext">LOGIN</h3>
                    <h4 class="infotext">E-MAIL</h4>
                    <input type="text" class="form-control" aria-label="E-mail">
                    <h4 class="infotext">PASSWORD</h4>
                    <input type="text" class="form-control" aria-label="password">
                    <button class="btn signin-btn" type="submit">SIGN IN</button>
                    <p id="signuptext">Don’t have an account?
                        <a class="innersignuptext" data-toggle="modal" data-target="#signup-modal">Sign up!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="home-body">
        <div>
            <img src="assets/images/tilepattern.png" class="tile-img">
            <img src="assets/images/lists.png" class="lists-img" id="about-link">
            <h3 id="about-header">ABOUT RECIPEASY</h3>
            <p class="about-text"> Do you have stacks of printed recipes sitting on your counter? Are you overwhelmed with the number of recipes
                that you have bookmarked (and might have forg0tten)? That’s where we come in! Recipeasy is an app where
                you can store all the recipes you come across while browsing the internet. The app allows you to search through
                your recipes, organize ones that you’ve cooked or ones that needs to be cooked, edit recipes to your liking,
                and mark ingredients that you have or still need to get. </p>
        </div>
        <div class="howitworks-block" id="howitworks-link">
            <img src="assets/images/timer.png" class="timer-img">
            <h3 id="howitworks-header">HOW IT WORKS</h3>
            <p class="howitworks-text"> 1. Add the bookmarklet. Everytime you bookmark a recipe on the web. It will be stored to your account. (COMING SOON)</p>
            <br />
            <p class="howitworks-text">OR</p>
            <br />
            <p class="howitworks-text">2. Input the recipe URL into the text area on your homepage. The app will do its magic, and your recipe will
                be added to your account.</p>
        </div>
    </div>
    
    <footer>
        <ul class="nav navbar-nav navbar-left" id="footerleft">
            <li>
                <a class="footertext" href="#logintext">SIGN IN</a>
            </li>
            <li>
                <a class="footertext innersignuptext" data-toggle="modal" data-target="#signup-modal">SIGN UP</a>
            </li>
        </ul>
        <p class=" nav navbar-nav navbar-right footertext" id="footercopyright"> © 2018 RECIPEASY</p>
    </footer>
    
    <!-- =========================================================Modal========================================================= -->
    <!-- Modal -->
    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <h3 id="signup-MH">SIGN UP</h3>
                    <h4 class="signup-textM">E-MAIL</h4>
                    <input type="text" class="form-control" aria-label="Username">
                    <h4 class="signup-textM">PASSWORD</h4>
                    <input type="text" class="form-control" aria-label="password">
                    <h4 class="signup-textM">CONFIRM PASSWORD</h4>
                    <input type="text" class="form-control" aria-label="confirm-password">
                    <button class="btn signup-btn" type="submit">SIGN UP</button>
                </div>
            </div>
        </div>
    </div>