   <nav class="navbar navbar-user">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-brand-user" id="navbarlogo" href="#">Recipeasy</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navtext navbar-right-user">LOGOUT</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="ingredient-title">INGREDIENT TITLE</h1>
        <p class="ingredient-text">serving size</p>
        <h3 class="ingredient-header">INGREDIENTS</h3>
        <div class="ingredients-list ingredient-text">
            <div class="row">
                <div class="col-sm-1">
                    <i class="glyphicon glyphicon-ok"></i>
                </div>
                <div class="col-sm-11">
                    <p>asdfj</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <i class="glyphicon glyphicon-ok"></i>
                </div>
                <div class="col-sm-11">
                    <p>asdfj</p>
                </div>
            </div>
        </div>
        <h3 class="ingredient-header">DIRECTIONS</h3>
        <p class="ingredient-text">Directions go here</p>
        <button class="btn ingredient-btn" type="button">EDIT</button>
        <button class="btn ingredient-btn" type="button">DELETE</button>
        <button class="btn ingredient-btn" type="button">COMPLETE</button>
    </div>