<div class="container">
    <div class="row">
        <h1 class="text-center">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </h1>
        <h2 class="text-center">Your Recipes</h2>
    </div>
</div>



<div class="container">
    <div class="col-xs-12 text-center">
        <div class="row">
            <h3>Ready</h3>
            <div id="ready-burgers">
                {{#each recipe_data}}

                <div class="well well-lg row">
                    <div class="col-xs-9 text-center">{{this.id}}. {{this.recipe_name}}</div>
                </div>

                {{/each}}
            </div>
        </div>
    </div>



</div>

<div class="container">
    <div class="col-xs-12 text-center">
        <div class="jumbotron">
            <div class="row">
                <h2>Add New Recipe</h2>
                <form action="/api/recipe" method="POST">
                    <input type="text" id="recipe_url" name="recipe_url" class="col-xs-9" />
                    <input type="submit" id="submit-button" value="Submit" class="col-xs-3" />
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <ul class="nav navbar-nav navbar-left" id="footerleft">
        <li>
            <a class="footertext" href="#logintext">SIGN IN</a>
        </li>
        <li>
            <a class="footertext innersignuptext" data-toggle="modal" data-target="#signup-modal">SIGN UP</a>
        </li>
    </ul>
    <p class=" nav navbar-nav navbar-right footertext" id="footercopyright"> © 2018 RECIPEASY</p>
</footer>