/* FONTS */
@font-face {
  font-family: PathwaysRough;
  src: url(../fonts/PathwaysRough-Regular.otf); }
@font-face {
  font-family: LeagueGothic;
  src: url(../fonts/LeagueGothic-Regular.otf); }
@font-face {
  font-family: LeagueGothicItalic;
  src: url(../fonts/LeagueGothic-Italic.otf);
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Peleguer;
  src: url(../fonts/Peleguer-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: PeleguerBold;
  src: url(../fonts/Peleguer-Bold.ttf) format("truetype");
  font-weight: Bold;
  font-style: normal; }
@font-face {
  font-family: PeleguerItalic;
  src: url(../fonts/Peleguer-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }
/*FONT VARIABLES*/
/*COLOR VARIABLES*/
/*MAIN SETUP*/
html {
  font-size: 62.5%; }

html,
body {
  width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 0.5rem; }

p {
  font-family: Peleguer, serif; }

h1, h2, h3 {
  font-family: LeagueGothic, sans-serif; }

a {
  color: #EEE5D0; }

/* ===============================================HOME PAGE================================================ */
/*HOME - NAVBAR AND JUMBOTRON*/
.navbar {
  background-color: #FFF;
  border-radius: 0;
  height: 10rem; }

.navbar-right {
  font-family: LeagueGothic, sans-serif;
  font-size: 2.5rem;
  padding-right: 6rem;
  padding-top: 2rem; }

.navtext {
  color: #0E0A08;
  letter-spacing: 0.3rem;
  margin-left: 6rem; }

.navtext:hover {
  color: #6B7649; }

.navbar-brand {
  font-family: PathwaysRough, sans-serif;
  font-size: 5rem;
  color: #F07222;
  padding-left: 10rem; }

.navbar-brand:hover {
  color: #6B7649; }

.mainimg {
  position: absolute;
  z-index: -1;
  top: -20rem !important;
  width: 100%;
  height: 115rem; }

.header-info {
  position: relative;
  top: -2.1rem; }

.loginscreen-right {
  position: absolute;
  background-color: #E44125;
  opacity: 0.90;
  padding: 13em 7em 7em 7em;
  width: 70rem;
  height: 83.83rem;
  right: 0rem; }

.loginscreen-right #logintext {
  font-family: LeagueGothic, sans-serif;
  font-size: 4rem;
  letter-spacing: 1.5rem;
  color: white; }
.loginscreen-right .infotext {
  font-family: Peleguer, serif;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 1.5rem;
  padding-top: 2rem; }
.loginscreen-right .signin-btn {
  font-family: LeagueGothic, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: #EEE5D0;
  border-radius: 0%;
  background-color: #F07222;
  margin-top: 5rem;
  padding-left: 4rem;
  padding-right: 4rem; }
.loginscreen-right .signin-btn:hover {
  background-color: #6B7649; }
.loginscreen-right .form-control {
  font-family: Peleguer, serif;
  font-size: 2.75rem;
  border-radius: 0; }
.loginscreen-right #signuptext {
  font-family: PeleguerItalic;
  color: #EEE5D0;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  margin-top: 4.5rem; }

.loginscreen-left {
  color: white;
  padding-left: 10rem; }

.loginscreen-left #recipes-text {
  font-family: LeagueGothic, sans-serif;
  font-size: 19rem;
  letter-spacing: 3.5rem;
  padding-top: 8rem; }
.loginscreen-left #recipes-subtext {
  font-family: PeleguerItalic;
  letter-spacing: 0.2rem;
  font-size: 4.5rem;
  margin-top: -2.5rem; }
.loginscreen-left .des-header {
  font-family: LeagueGothic, sans-serif;
  font-size: 7.5rem;
  letter-spacing: 0.2rem;
  margin-top: 6rem; }
.loginscreen-left .des-header-two {
  margin-top: 2rem; }
.loginscreen-left .read-more {
  font-family: Peleguer, serif;
  font-size: 2rem;
  letter-spacing: 0.6rem;
  background-color: transparent;
  border-width: 0.1rem;
  border-color: white;
  border-radius: 0;
  margin-top: 6.5rem;
  margin-bottom: 4rem;
  padding: 1.5rem 5rem 1rem 5rem; }
.loginscreen-left .read-more:hover {
  background-color: #6B7649;
  border: none; }

/*HOME - BODY (ABOUT AND HOW IT WORKS)*/
.tile-img {
  position: absolute;
  z-index: -1;
  width: 100%; }

.lists-img {
  width: 30rem;
  margin-left: 40%;
  margin-top: 20rem; }

.about-text {
  font-family: Peleguer, serif;
  color: #6B7649;
  font-size: 3.75rem;
  margin-top: 4rem;
  padding-left: 7%;
  padding-right: 7%; }

#about-header {
  font-family: LeagueGothic, sans-serif;
  font-size: 6rem;
  letter-spacing: 2rem;
  color: #6B7649;
  text-align: center;
  margin-top: 5rem; }

.howitworks-block {
  position: relative;
  background-color: #E44125;
  padding: 10rem;
  width: 100%;
  height: 90rem;
  left: 0rem !important;
  margin-top: 15rem;
  margin-bottom: 5rem; }

.howitworks-block .timer-img {
  width: 20rem;
  margin-left: 42%;
  margin-top: 4rem; }
.howitworks-block #howitworks-header {
  font-family: LeagueGothic, sans-serif;
  font-size: 6rem;
  letter-spacing: 2rem;
  color: #EEE5D0;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 4rem; }
.howitworks-block .howitworks-text {
  font-family: Peleguer, serif;
  color: #EEE5D0;
  font-size: 3.75rem;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%; }

/*HOME - FOOTER*/
footer {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 6rem;
  bottom: 0; }

.footertext {
  font-family: LeagueGothic, sans-serif;
  font-size: 2.5rem;
  color: #0E0A08;
  letter-spacing: 0.3rem;
  padding-right: 6rem;
  padding-top: 2rem;
  margin-left: 6rem; }

.footertext:hover {
  color: #6B7649; }

#footercopyright {
  margin-right: 6rem; }

#footercopyright:hover {
  color: #0E0A08; }

#footerleft {
  margin-left: 6rem; }

/* MODAL CONTENT (HOME) */
.modal-dialog {
  width: 60%;
  height: 80%;
  opacity: 0.9; }

.modal-content {
  background-color: #F07222;
  color: white;
  height: auto;
  min-height: 100%; }

.modal-header {
  border: none; }

.modal-body {
  padding-left: 6rem;
  padding-right: 6rem; }

.modal-body #signup-MH {
  font-family: LeagueGothic, sans-serif;
  font-size: 4rem;
  letter-spacing: 1rem;
  padding-bottom: 1rem; }
.modal-body .signup-textM {
  font-family: Peleguer, serif;
  font-size: 2rem;
  letter-spacing: 1rem;
  padding-top: 2rem; }
.modal-body .form-control {
  font-family: Peleguer, serif;
  font-size: 2.75rem;
  border-radius: 0; }
.modal-body .signup-btn {
  font-family: LeagueGothic, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: #EEE5D0;
  border-radius: 0%;
  background-color: #6B7649;
  margin-top: 6rem;
  padding-left: 4rem;
  padding-right: 4rem; }
.modal-body .signup-btn:hover {
  background-color: #E44125; }

/* ===============================================USER PAGE================================================ */
th {
  font-family: LeagueGothic, sans-serif;
  font-size: 2.1rem;
  letter-spacing: 0.3rem;
  color: #0E0A08; }

.navbar-user {
  background-color: #E44125; }

.navbar-brand-user {
  color: #EEE5D0; }

.navbar-right-user {
  color: #EEE5D0; }

.searchaddbar {
  margin-top: 4rem; }

.recipeName {
  color: #0E0A08;
  text-decoration: none; }

.recipeName:hover {
  color: #EEE5D0; }

.input-md {
  font-family: Peleguer, serif;
  font-size: 2rem;
  border: none;
  border-radius: 0;
  background-color: #EEE5D0; }

.btn-md {
  border-radius: 0;
  background-color: #6B7649;
  border-color: #6B7649;
  padding-left: 4rem;
  padding-right: 4rem; }

.btn-md:hover {
  background-color: #F07222;
  border-color: #F07222; }

.table-icon {
  height: 4rem;
  padding-right: 5rem; }

.table-header {
  font-family: LeagueGothic, sans-serif;
  font-size: 4.5rem;
  letter-spacing: 1.5rem;
  display: block;
  text-align: center;
  background-color: #F07222;
  color: #EEE5D0;
  padding: 1rem 2rem 0.5rem 2rem;
  margin-top: 8rem; }

/* ===============================================INGREDIENT PAGE ================================================ */
.ingredient-title {
  font-size: 5rem;
  letter-spacing: 1rem;
  color: #E44125;
  margin-top: 6rem; }

.ingredient-header {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: #F07222;
  margin-top: 5rem; }

.ingredient-text {
  font-size: 2.25rem; }

.ingredient-btn {
  font-family: LeagueGothic, sans-serif;
  font-size: 2rem;
  color: #EEE5D0;
  background-color: #E44125;
  border-radius: 0;
  padding: 0.5rem 4rem 0.5rem 4rem;
  margin-top: 6rem;
  margin-right: 7rem; }

.ingredient-btn:hover {
  background-color: #6B7649; }

.checked {
  color: #F07222;
  text-decoration: line-through; }

/* ======================================================================================================== */
@media only screen and (max-width: 1366px) {
  /*HOME PAGE*/
  .navtext {
    margin-left: 1rem; }

  .loginscreen-right {
    width: 50rem;
    height: 83.83rem; }

  .loginscreen-left #recipes-text {
    font-size: 9.5rem;
    letter-spacing: 2rem;
    padding-top: 10rem; }
  .loginscreen-left #recipes-subtext {
    font-size: 4.5rem; }
  .loginscreen-left .des-header {
    font-size: 4rem; }

  .tile-img {
    width: none;
    height: 120rem; }

  .lists-img {
    width: 18rem;
    margin-left: 40%;
    margin-top: 30rem; }

  .about-text {
    font-size: 2.5rem; }

  .howitworks-block {
    padding: 4rem;
    height: 70rem;
    margin-top: 15rem; }

  .howitworks-block .timer-img {
    width: 15rem;
    margin-top: 5rem; }
  .howitworks-block .howitworks-text {
    font-size: 2.5rem; } }
@media only screen and (max-width: 979px) {
  /*HOME PAGE*/
  .navbar-right {
    display: none; }

  .mainimg {
    top: -20rem !important;
    width: 100%;
    height: 90rem; }

  .loginscreen-right {
    position: absolute;
    padding: 2em 2em 2em 2.5em;
    width: 100%;
    height: 59rem; }

  .loginscreen-right .infotext {
    font-size: 1.5rem; }
  .loginscreen-right #signuptext {
    font-size: 1.75rem; }

  .loginscreen-left {
    padding-left: 2rem; }

  .loginscreen-left #recipes-text {
    padding-top: 3rem; }
  .loginscreen-left #recipes-subtext {
    font-size: 2.75rem;
    margin-top: -2rem; }
  .loginscreen-left .des-header {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    margin-top: 6rem; }

  .tile-img {
    width: none;
    height: 90rem; }

  .lists-img {
    margin-top: 10rem; }

  #about-header {
    font-size: 4.5rem;
    letter-spacing: 2rem; }

  .howitworks-block {
    padding: 2rem;
    margin-top: 10rem; }

  .howitworks-block #howitworks-header {
    font-size: 4.5rem; }
  .howitworks-block .howitworks-text {
    font-size: 2.5rem; }

  .modal-dialog {
    width: 90%;
    height: 80%;
    opacity: 0.9; } }
@media only screen and (max-width: 767px) {
  /*HOME PAGE*/
  .mainimg {
    height: 70rem; }

  .loginscreen-left #recipes-text {
    padding-top: 1rem;
    font-size: 10rem; }
  .loginscreen-left #recipes-subtext {
    font-size: 2.75rem;
    margin-top: -2rem; }
  .loginscreen-left .des-header {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    margin-top: 2rem; }
  .loginscreen-left .read-more {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2.8rem;
    padding: 2rem 3rem 1rem 3rem; }

  .loginscreen-right {
    position: absolute;
    opacity: 1;
    height: 52rem; }

  .tile-img {
    margin-top: 45rem;
    width: 160%;
    height: 90rem; }

  .lists-img {
    margin-top: 55rem;
    margin-left: 33%;
    width: 15rem; }

  #about-header {
    font-size: 3.5rem;
    letter-spacing: 0.2rem; }

  .about-text {
    font-size: 2rem;
    margin-top: 4rem; }

  .howitworks-block {
    padding: 1rem;
    margin-top: 7rem;
    height: 60rem;
    margin-bottom: 0rem; }

  .howitworks-block .timer-img {
    width: 10rem;
    margin-left: 37%; }
  .howitworks-block #howitworks-header {
    font-size: 3.5rem;
    letter-spacing: 0.2rem; }
  .howitworks-block .howitworks-text {
    font-size: 2rem;
    margin-top: 1rem; }

  footer {
    display: none; }

  .modal-dialog {
    width: 100%;
    height: 80%;
    opacity: 0.9; }

  .modal-body #signup-MH {
    font-size: 2.5rem; }
  .modal-body .signup-textM {
    font-size: 1.75rem; }
  .modal-body .form-control {
    font-size: 1.5rem; }

  /* ===============================================USER PAGE================================================ */
  .table-header {
    padding-top: 1rem;
    font-size: 2.5rem;
    letter-spacing: 0.5rem; }

  .table-icon {
    height: 2.5rem;
    padding-right: 3rem; }

  /* ===============================================INGREDIENT PAGE================================================ */
  .ingredient-btn {
    padding: 1rem;
    margin-right: 0.5rem; } }
@media only screen and (max-width: 480px) {
  .navbar-brand {
    font-size: 4rem; }

  .modal-dialog {
    width: 100%;
    height: 80%;
    opacity: 0.9; }

  .modal-body #signup-MH {
    font-size: 2.5rem; }
  .modal-body .signup-textM {
    font-size: 1.75rem; }
  .modal-body .form-control {
    font-size: 1.5rem; } }

/*# sourceMappingURL=style.css.map */
