@import 'fonts';

/*FONT VARIABLES*/
$logo-font : PathwaysRough,
sans-serif;
$header-font: LeagueGothic,
sans-serif;
$body-font: Peleguer,
serif;

/*COLOR VARIABLES*/
$orange: #F07222;
$red: #E44125;
$green: #E44125;
$cream: #EEE5D0;
$black: #0E0A08;

/*MAIN SETUP*/
html {
    font-size: 62.5%;
}

/*NAVBAR AND JUMBOTRON*/
.navbar {
    background-color: #FFF;
    border-radius: none;
}

.navbar-brand {
    font-family: $logo-font;
    color: $orange;
}

.mainimg {
    position: absolute;
    top: -1.6rem;
    z-index: -1;
    width: 100%;
}