@import 'fonts';

/*FONT VARIABLES*/
$logo-font : PathwaysRough,
sans-serif;
$header-font: LeagueGothic,
sans-serif;
$body-font: Peleguer,
serif;

/*COLOR VARIABLES*/
$orange: #F07222;
$red: #E44125;
$green: #E44125;
$cream: #EEE5D0;
$black: #0E0A08;

/*MAIN SETUP*/
html {
    font-size: 62.5%;
}

/*NAVBAR AND JUMBOTRON*/
.navbar {
    background-color: #FFF;
    border-radius: none;
    height: 10rem;
}

.navbar-right {
    font-family: $header-font;
    font-size: 2.5rem;
    padding-right: 5rem;
    padding-top: 2rem;
}

.navtext {
    color: $black;
    letter-spacing: 0.3rem;
}

.navbar-brand {
    font-family: $logo-font;
    font-size: 5rem;
    color: $orange;
    padding-left: 5rem;
}

.mainimg {
    position: absolute;
    z-index: -1;
    top: -20rem !important;
    height: 115rem;
}

.loginscreen {
    position: absolute;
    display: block;
    background-color: $red;
    opacity: 0.95;
    padding: 13em 7em 7em 7em;
    width: 80rem;
    height: 83.85rem;
    top: 10rem !important;
    right: 0em !important;
    bottom: 0em !important;
    will-change: bottom,left;
}

.loginscreen {
    #logintext {
        font-family: $header-font;
        font-size: 4rem;
        letter-spacing: 1.5rem;
        color: white;
    }

    .infotext {
        font-family: $body-font;
        font-size: 2.5rem;
        color: white;
        letter-spacing: 1.5rem;
        padding-top: 2rem;
    }

    .signin-btn {
        font-family: $header-font;
        font-size: 2rem;
        letter-spacing: 0.5rem;
        color: $cream;
        border-radius: 0%;
        background-color: $orange;
        margin-top: 5rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}